.profile__edit {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid var(--basic-white);
  box-sizing: border-box;
  align-self: center;
}

@media screen and (max-width: 500px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
  }
}
