@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./variables/variables.css);

@import url(./blocks/button/button.css);

@import url(./blocks/root/root.css);
@import url(./blocks/wrapper/wrapper.css);
@import url(./blocks/space/space.css);
@import url(./blocks/center/center.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__info/header__info.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/root/__content/root__content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/root/__profile/root__profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__position/profile__position.css);
@import url(./blocks/profile/__add-place/profile__add-place.css);
@import url(./blocks/root/__places/root__places.css);
@import url(./blocks/places/places.css);
@import url(./blocks/place/place.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/place/__caption/place__caption.css);
@import url(./blocks/place/__delete/place__delete.css);
@import url(./blocks/place/__like-container/place__like-container.css);
@import url(./blocks/place/__like-counter/place__like-counter.css);
@import url(./blocks/place/__like/place__like.css);
@import url(./blocks/place/__like/_active/place__like_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/root/__footer/root__footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/_place/form_place_auth.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__fields/form__fields.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_place/form__input_place_auth.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_visible/form__input-error_visible.css);
@import url(./blocks/form/__submit/form__submit.css);
@import url(./blocks/form/__submit/_disabled/form__submit_disabled.css);
@import url(./blocks/form/__submit/_place/form__submit_place_auth.css);
@import url(./blocks/form/__additional-text/form__additional-text.css);
@import url(./blocks/form/__link/form__link.css);
@import url(./blocks/figure/figure.css);
@import url(./blocks/figure/__image/figure__image.css);
@import url(./blocks/figure/__caption/figure__caption.css);
@import url(./blocks/info-tooltip/info-tooltip.css);
@import url(./blocks/info-tooltip/__icon/info-tooltip__icon.css);
@import url(./blocks/info-tooltip/__icon/_type/info-tooltip__icon_type_error.css);
@import url(./blocks/info-tooltip/__icon/_type/info-tooltip__icon_type_success.css);
@import url(./blocks/info-tooltip/__text/info-tooltip__text.css);
